<div class="flex gap-10 w-full px-20 py-10">
    <%recepie.forEach((rec,idx)=>{%>
        <%if(idx < 4){%>
            <div class="w-[20vw] h-[60vh] border-2 border-black">
                <img src="/images/<%=rec.image%>" class="w-full h-[90%] object-cover" alt="">
                <p class="m-1 text-xl underline"><a href="/recepie/detail/<%=rec._id%>"><%= rec.name%></a></p></p>
            </div>
        
    <%}})%>
</div>