<%-  include('./partials/header')%>
<div class="img">
    <div class="blur">
      
    </div>
    <div class="absolute top-0 w-full">
        <nav class="p-10 px-20 flex gap-10 font-light text-white">
            <a href="/" class="text-xl">Home</a>
            <a href="/explore/" class="text-xl">Explore</a>
            <a href="/users/login" class="text-xl">Log In</a>
          </nav>
      <form action="/users/signup" method="post" class="w-[20vw] m-auto mt-20 p-5 border-2">
        <input type="text" name="name" placeholder="Enter Your Name" class="w-full p-2 mb-5 outline-none">
        <input type="text" name="username" placeholder="Enter Your userName" class="w-full p-2 mb-5 outline-none">
        <input type="email" name="email" placeholder="Enter Your Email" class="w-full p-2 mb-5 outline-none">
        <input type="password" name="password" placeholder="Enter Password" class="w-full p-2 mb-5 outline-none">
        <button class="w-full p-2 mb-5 border-white border-2 text-white">Sign Up</button>
      </form>
    </div>
  </div>

  <%- include('./partials/footer')%>